extends layouts/main

block content
    .board-detail__container
        .board__player
            img(src=`/${board.imageUrl}`)
        .board__info
            if board.creator.id === loggedUser.id
                a(href=routes.editBoard(board.id))
                    button Edit board
            h5.board__title=board.title
            p.board__description=board.description
            if board.views === 1
                span.board__views 1 view
            else 
                span.board__views #{board.views} views
                    .board__author
            .board__author
                |Uploaded by
                a(href=routes.userDetail(board.creator.id))=board.creator.name
        .board__comments
            if board.comments.length === 1
                span.board__comment-number 1 comment
            else
                span.board__comment-number #{board.comments.length} comments
